header {
<<<<<<< HEAD
    background-color: #ff0000;
    height: 70px;
    width: 100;
=======
    height: 70px;
    width: 100%;
    background: #FF0000;
>>>>>>> 2bfec54ed2828589eba9675cef33f6ed20baa3aa
}
